@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TimesNewRoman';
  src: url('../src/times-new-roman/times-new-roman-bold.ttf');
  font-weight: normal;
  font-style: normal;
}

/**
 * Fix fonts that render as bold in Firefox
 *
 * Put this near the top of your style.css
 * Before any overriding styles
 */


 html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;
}

/**
 * Firefox specific rule
 */

@-moz-document url-prefix() {
  body{
    font-weight: lighter !important;
  }
}

.scrollbar-hide::-webkit-scrollbar{
  display: none;
  width: 0;
  scrollbar-width: none;
}

.scrollbar-hide{
  scrollbar-width: none;
}

/*--------------------------------------------
header
----------------------------------------------*/
.header .nav-link.active{
  @apply text-primary;
}

.header .contact-btn::after{
  content: '';
  background-color: #203D4B;
  @apply absolute bottom-0 left-0 h-0 w-full -z-[1] transition-all duration-300;
}

.header .contact-btn:hover::after{
  @apply h-full;
}

@media screen and (min-width:768px) {
  .header:hover{
    @apply bg-secondary border-secondary;
  }

  .header:hover .main-logo{
    @apply hidden;
  }

  .header:hover .white-logo{
    @apply block;
  }

  .header:hover .nav-link{
    @apply text-white;
  }

  .header:hover .nav-link.active{
    @apply text-primary;
  }

  .header:hover .contact-btn{
    @apply bg-white text-secondary;
  }

  .header .contact-btn:hover{
    @apply text-white;
  }
}

.social-icon-list svg path{
  @apply transition-all duration-300;
}

.social-icon-list li a:hover svg path{
  @apply fill-primary;
}

/*--------------------------------------------
banner
----------------------------------------------*/
.banner{
  background: url('../src/images/banner-bg.png') no-repeat center;
  background-size: cover;
}


/*--------------------------------------------
about
----------------------------------------------*/
/* .about{
  background: url('../src/images/about-bg.png') no-repeat bottom;
} */

@keyframes rotate {
  100%{
    transform: rotate(360deg);
  }
}

.spin-animation{
  transform-origin: center;
  animation: rotate 12s linear infinite;
}

/*--------------------------------------------
service
----------------------------------------------*/
.service .single-item svg path{
  @apply transition-all duration-300;
}

.service .single-item:hover .hover-color {
  @apply fill-primary;
}

.service .single-item:hover .more-btn svg path{
  @apply fill-primary stroke-primary;
}

/*--------------------------------------------
working-process
----------------------------------------------*/

.progress-svg {
  animation: animateDash 10s ease-in-out forwards infinite;
}

@keyframes animateDash {
  from {
    width: 0%;
  }
  to{
    width: 100%;
  }
}

/*--------------------------------------------
project
----------------------------------------------*/
.project-pagination .swiper-pagination-bullet{
  height: 10px;
  width: 10px;
  background: #D9D9D9;
  opacity: 1;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, 
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 6px;
}

.project-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
  @apply bg-primary-text;
}

.swiper-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal, 
.swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 0;
}

/*--------------------------------------------
company
----------------------------------------------*/
.company{
  background: url('../src/images/company-bg.png') no-repeat center;
  background-size: cover;
}

/*--------------------------------------------
contact
----------------------------------------------*/
@keyframes rotate {
  100%{
    transform: rotate(360deg);
  }
}

@keyframes rotate-rev {
  100%{
    transform: rotate(-360deg);
  }
}

.contact .address{
  background: url('../src/images/map.png') no-repeat center;
}

.rotate-animation{
  transform-origin: center;
  animation: rotate 8s linear infinite;
}

.rotate-reverse{
  transform-origin: center;
  animation: rotate-rev 8s linear infinite;
}


/*--------------------------------------------
service-page
----------------------------------------------*/
.service-banner{
  background: url('../src/images/service-bg.png') no-repeat center;
  background-size: cover;
}

@media screen and (max-width:639px) {
  .service-banner{
    background: url('../src/images/service-bg-sm.png') no-repeat center;
    background-size: cover;
  }
}

.all-service .tabs-nav .active a{
  @apply font-semibold md:font-bold text-white bg-primary;
}


/*--------------------------------------------
testimonial-page
----------------------------------------------*/
.testimonial-banner{
  background: url('../src/images/testimonial-bg.png') no-repeat center;
  background-size: cover;
}

@media screen and (max-width:639px) {
  .testimonial-banner{
    background: url('../src/images/testimonial-bg-sm.png') no-repeat center;
    background-size: cover;
  }
}

/*--------------------------------------------
blog page
----------------------------------------------*/
.blog-banner{
  background: url('../src/images/blog-bg.png') no-repeat center;
  background-size: cover;
}

@media screen and (max-width:639px) {
  .blog-banner{
    background: url('../src/images/blog-bg-sm.png') no-repeat center;
    background-size: cover;
  }
}

.blog .blog-filter-btns .active button span{
  @apply bg-primary text-white;
}

.blog .pagination .active{
  @apply bg-primary text-white font-bold;
}

/*--------------------------------------------
blog-details page
----------------------------------------------*/
.blog-details .reply-arrow::before{
  content: '';
  height: calc(100% - 20px);
  width: 28px;
  border-left: 1px solid #9ADDFE;
  border-bottom: 1px solid #9ADDFE;
  border-bottom-left-radius: 16px;
  position: absolute;
  top: 80px;
  left: 32px;
  z-index: -1;
}

@media screen and (max-width: 1023px) {
  .blog-details .reply-arrow::before{
    height: 100%;
    width: 9px;
    top: 46px;
    left: 20px;
  }
}

.blog-details .blog-filter-btns .active span{
  @apply bg-primary text-white;
}

/*--------------------------------------------
not-found page
----------------------------------------------*/
.back-to-home::after,
.back-to-home::before{
  content: '';
  top: -4px;
  right: -35px;
  border-radius: 50%;
  transition: all linear 0.8s;
  @apply absolute bg-primary;
}

.back-to-home::after{
  height: 100px;
  width: 100px;
}

.back-to-home::before{
  height: 150px;
  width: 150px;
  opacity: 0;
}

.back-to-home:hover::after{
  height: 150px;
  width: 150px;
}

.back-to-home:hover::before{
  height: 500px;
  width: 500px;
  border-radius: 0;
  opacity: 1;
}