@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TimesNewRoman';
  src: url('../src/times-new-roman/times-new-roman-bold.ttf');
  font-weight: normal;
  font-style: normal;
}

/**
 * Fix fonts that render as bold in Firefox
 *
 * Put this near the top of your style.css
 * Before any overriding styles
 */


 html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;
}

/**
 * Firefox specific rule
 */

@-moz-document url-prefix() {
  body{
    font-weight: lighter !important;
  }
}



/*--------------------------------------------
header
----------------------------------------------*/
.header .nav-link.active{
  @apply text-primary;
}

.header .contact-btn::after{
  content: '';
  background-color: #203D4B;
  @apply absolute bottom-0 left-0 h-0 w-full -z-[1] transition-all duration-300;
}

.header .contact-btn:hover::after{
  @apply h-full;
}

@media screen and (min-width:768px) {
  .header:hover{
    @apply bg-secondary border-secondary;
  }

  .header:hover .main-logo{
    @apply hidden;
  }

  .header:hover .white-logo{
    @apply block;
  }

  .header:hover .nav-link{
    @apply text-white;
  }

  .header:hover .nav-link.active{
    @apply text-primary;
  }

  .header:hover .contact-btn{
    @apply bg-white text-secondary;
  }

  .header .contact-btn:hover{
    @apply text-white;
  }
}

.social-icon-list svg path{
  @apply transition-all duration-300;
}

.social-icon-list li a:hover svg path{
  @apply fill-primary;
}

/*--------------------------------------------
banner
----------------------------------------------*/
.banner{
  background: url('../src/images/banner-bg.png') no-repeat center;
  background-size: cover;
}


/*--------------------------------------------
about
----------------------------------------------*/
.about{
  background: url('../src/images/about-bg.png') no-repeat bottom;
}
.spin-animation{
  transform-origin: 245px 262px;
  animation: rot 10s infinite linear;
}

@keyframes rot {
  to{
    transform: rotate(360deg);
  }
}


/*--------------------------------------------
service
----------------------------------------------*/
.service .single-item svg path{
  @apply transition-all duration-300;
}

.service .single-item:hover .hover-color {
  @apply fill-primary;
}

.service .single-item:hover .more-btn svg path{
  @apply fill-primary stroke-primary;
}

/*--------------------------------------------
working-process
----------------------------------------------*/

.progress-svg {
  animation: animateDash 10s ease-in-out forwards infinite;
}

@keyframes animateDash {
  from {
    width: 0%;
  }
  to{
    width: 100%;
  }
}

/*--------------------------------------------
project
----------------------------------------------*/
.project-pagination .swiper-pagination-bullet{
  height: 10px;
  width: 10px;
  background: #D9D9D9;
  opacity: 1;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, 
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 6px;
}

.project-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
  @apply bg-primary-text;
}

.swiper-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal, 
.swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 0;
}

/*--------------------------------------------
company
----------------------------------------------*/
.company{
  background: url('../src/images/company-bg.png') no-repeat center;
  background-size: cover;
}

/*--------------------------------------------
contact
----------------------------------------------*/
.contact .address{
  background: url('../src/images/map.png') no-repeat center;
}

.rotate-animation{
  animation: rotate 4s linear infinite;
}


@keyframes rotate {
  100%{
    transform: rotate(360deg);
  }
}